body {
    width: 95%;
    max-width: 800px;
    margin: auto;
    background-image: linear-gradient(45deg, cyan, yellow);

    font-family: 'montserrat', sans-serif;
    line-height: 1.5;
    color: white;
}


main {
    background: #00000090;
    padding: 5px 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}


.Logo, .titulo, .subtitulo{
    margin: 0;
    text-align: center;
}

.caronasdisponiveis {
    margin: 10;
    text-align: center;
}

.erro {
    color: red;
    text-align: center;

}
